.TasksTable {
    width: 100%;
    max-height: 1rem;
    overflow-y: scroll;
}
.Text {
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TasksTable thead tr th {
    text-align: left;
    padding: 1rem 0;
}

.TasksTable tbody tr td {
    text-align: left;
    padding: 0.25rem 0.5rem;
}

.TasksTable tbody tr:not(:last-child):not(:first-child) td{
    border-bottom: 1px solid #C2C2C2;
}

.TasksTable button {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-buttons);
    border: none;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    gap: 8px;
    letter-spacing: 2px;
    overflow: hidden;
    padding: 8px 16px;
    position: relative;
    text-transform: uppercase;
    transition: opacity 400ms ease;
}

.TasksTable button:hover { opacity: 0.8; }


